.git
.idea
.vscode
.github
target
node_modules
*.log

.env
.env.*
.env.local
.env.production
*.env
confs/.env
confs/*.env
frontend-next/my-app/.env.local
frontend-next/my-app/.env.production

confs
**/*.pem
**/*.key
**/service-account*.json
application-prod.properties
application-production.properties
**/application-prod.properties
**/application-production.properties
logs
